[Unit]
Description=Face Verification Service (Node.js)
After=network.target

[Service]
User=www-data
Group=www-data

# Sesuaikan path dengan lokasi di server
WorkingDirectory=/var/www/vhosts/hris.awass.site/httpdocs/face-service

ExecStart=/usr/bin/node index.js
Restart=always
RestartSec=5

Environment=NODE_ENV=production
Environment=PORT=5001

StandardOutput=journal
StandardError=journal
SyslogIdentifier=face-service

[Install]
WantedBy=multi-user.target
